{% extends 'firstapp/base.html' %}
{% block title %}Contacts{% endblock title %}
{% block header %}Contacts{% endblock header %}
{% block content %}
    Company "I want you"
    <div class="container-fluid text-center my-2 border border-3">
        <div class="row">
            <div class="col-sm-6">
                <h3>Address</h3>
                <p>Москва ул.Мирошникова д.32 офис 322</p>
                <p>Кострома ул.Малая Бронная д.44 офис 228</p>
            </div>
            <div class="col-sm-3">
                <h3>Phone number</h3>
                <p>8-800-555-35-35</p>
                <p>8-908-388-80-88</p>
            </div>
            <div class="col-sm-3">
                <h3>E-mail</h3>
                <p>vsegei@gei.cum</p>
                <p>notgei@negei.notcum</p>
            </div>
        </div>
    </div>
{% endblock content %}