{% extends "firstapp/base.html" %}
{% block title %} Main page {% endblock title %}
{% block header %} This is main page of editing {% endblock header %}
{% block content %}
    <div class="container-fluid text-start my-2 border border-5 border-warning">
        <h5>Editing of data</h5>
        <form method="POST">
            {% csrf_token %}
            <p>
                <label>Input name</label><br>
                <input name="name" type="text" value="{{ person.name }}"/>
            </p>
            <p>
                <label>Input age</label>
                <input type="number" name="age" value="{{ person.age }}"/>
            </p>
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock content %}